body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%
}

.columnHeader {

}

.input {
  width: 90%;
  height: 35px;
  font-size: 16px;
  border-radius: 3px;
  border:none
}

.categoryButton {
  width: 80px;
  height:80px;
  border-radius: 50%;
  box-shadow: 2px 2px grey;
  /* border: 1px solid grey; */

  /* vertical-align: middle; */
}

.categoryButton:hover {
  opacity: .70;

  perspective: (1px);
  transform: translate(2px, 1px);
  -webkit-transform: translate(2px, 1px);
  /* transform: scale(1.1); */

  /* background-color: #4CAF50; /* Green */
}

.priceButton {
  width:60px;
  height:40px;
  border: 1px solid grey;
  /* margin: auto; */
  /* vertical-align: middle; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* border-radius: 5px; */

}

.buttonGrid {

  margin: auto;
  display: grid;
  background-color: inherit;
  grid-template: 80px 80px / repeat(3, 80px);
  grid-gap: 15px 15px;
}

.categoryColumn {
  /* height: 100%; */
  /* border: 1px solid black; */
  /* text-align: center; */
  margin: auto;
  grid-area: 2 / 1 / span 1 / span 1;
}

.locationColumn {
  /* margin: auto; */
  align-self: center;
  /* vertical-align:middle; */
  grid-area: 2 / 3 / span 1 / span 1;
  /* border: 1px solid black; */
}

.divider {
  margin: auto;
  /* grid-area: 2 / 2 / span 1 / span 1; */
  width: 50%;
  color: black;
}

#logo {
  font-family: sans-serif;
  grid-area: 1 / 1 / span 1 / span 1;
  text-align: left;
  padding-left: 10px
  /* color: grey; */
}

.priceGrid {
  display: grid;
  margin: auto;
  grid-template: 40px / repeat(4, 60px);
  grid-area: 2 / 5 / span 1 / span 1;
  /* justify-items: center; */
  /* border-radius: 10px; */
}

.search {
  width: 80%;
  height: 50px;
  background-color: white;
}
