body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%
}

.input {
  width: 90%;
  height: 35px;
  font-size: 16px;
  border-radius: 3px;
  border:none;
  padding: 0px 0px 0px 7px;
  margin-bottom: 10px;
}

.categoryButton {
  width: 80px;
  height:80px;
  border-radius: 50%;
  box-shadow: 2px 2px grey;
  outline: none;
}

.categoryButton:hover {
  opacity: .70;
  perspective: (1px);
  transform: translate(2px, 1px);
  -webkit-transform: translate(2px, 1px);
}
.priceButton {
  width:60px;
  height:40px;
  border: 1px solid grey;
  /* margin: auto; */
  /* vertical-align: middle; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

}

.priceButton:hover {
  opacity: .60;
}

.buttonGrid {

  margin: auto;
  display: grid;
  background-color: inherit;
  grid-template: 80px 80px / repeat(3, 80px);
  grid-gap: 15px 15px;
}

.categoryColumn {
  margin: auto;
  grid-area: 2 / 1 / span 1 / span 1;
}

.locationColumn {
  align-self: center;
  grid-area: 2 / 3 / span 1 / span 1;
}

.divider {
  margin: auto;
  width: 50%;
  color: black;
}

#logo {
  font-family: Marker Felt;
  grid-area: 1 / 1 / span 1 / span 1;
  text-align: left;
  padding-left: 10px;
  color: white;
  margin-left: 20px;
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
  /* text-shadow: 5px; */
}

.priceGrid {
  display: grid;
  margin: auto;
  grid-template: 40px / repeat(4, 60px);
  grid-area: 2 / 5 / span 1 / span 1;

}

.search {
  width: 80%;
  height: 50px;
  background-color: white;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(100,100,100); /* Fallback color */
  background-color: rgba(0,0,0, .3); /* Black w/ opacity */
}
.md-show {
	visibility: visible;
}

.md-show.modal-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.modal-effect {
  -webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.modal-content {
    display: grid;
    grid-template-columns: 25% 40% 32% 3%;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    text-align: left;
    padding: 20px;
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-top: 0px;
    grid-area: 1 / 4 / span 1 / span 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}
.resultImage {
  grid-area: 1 / 1 / span 1 / span 1;

}
.info {
  height: 100%;
  grid-area: 1 / 2 / span 1 / span 1;
  border-right: 1px solid black;
  /* display: grid;
  grid-template-rows: 20% (repeat 5); */
}
.reviews {
  /* border: 1px solid black; */
  /* height: 100px; */
  vertical-align: top;
}


ul {
  height: 100%;
  list-style-type: none;
}
ul#selected li {
    display:inline;
}

.selectedButton {
  border-radius: 7%;
  padding: 7px 15px 7px 15px;
  /* width: 150px; */
  border: none;
  color: white;
  /* background-color: SteelBlue; */
  background-color: rgba(100,160,160,1);
  font-size: 16px;
  margin-right: 20px;
  outline: none;
  text-align: left;

}
.selectedButton:hover {
  cursor: pointer;
}
.ex {
  float: left;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
